  .bg-gradient-purple {
    background: linear-gradient(to bottom, #EABDFF, #CA57FF, #7D06B5);
  }
  
  .fixed-width-select {
    width: 200px;      /* Puedes ajustar el valor según tu diseño */
    min-width: 200px;
    max-width: 200px;
  }
  
  /* Button styles */
  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
    margin-top: 130px;
  }
  
  .cancel-button {
    background: #ABABAB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  
  }
  
  .main-button {
    background: #7D06B5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .invisible-placeholder {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }

  .report-card-bg {
    background-color: #EABDFF;
  }

  /* Success message box*/  
  .custom-swal-popup {
    border-radius: 15px;
    padding: 2rem;
}

.custom-swal-title {
    font-size: 1.7rem;
    font-weight: bold;
}

.custom-swal-confirm {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
}

  